{% extends "display/layout.html" %}

{% block title %}
    Display
{% endblock %}

{% block main %}
    <p class="bold">Hello! Please enter a Signage ID below.</p>
    <form action="/display/begin" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="signageid" placeholder="Signage ID" autocomplete="off" autofocus >
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="signagepw" placeholder="Password">
        </div>
        <div class="form-group">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="hidecursor" id="cursoroption">
                <label class="form-check-label" for="cursoroption">
                    Hide mouse cursor
                </label>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Start</button>
        <p class="pad-t">Don't have a Signage ID? You can <a href="/manage">create</a> one.</p>
    </form>
{% endblock %}
