{% extends "manage/layout.html" %}

{% block title %}
    Add Slide
{% endblock %}

{% block main %}
    <form action="" method="post">
        <div class="form-group">
            <small class="form-text text-muted"><span class="bold">Slide Index</span><br>Slide Index determines the order of slides that will be displayed. You may input 1 if this is the first slide.
            <br>(You may also include decimal if you decided to insert new one between existing slides.)</small>
            <input type="number" class="form-control" name="sindex" min="0" step="0.01" placeholder="Slide Index" autocomplete="off" autofocus >
        </div>
        <div class="form-group">
            <small class="form-text text-muted"><span class="bold">Image URL</span></small>
            <input type="text" class="form-control" name="surl" placeholder="Image URL" autocomplete="off" >
        </div>
        <div class="form-group">
            <small class="form-text text-muted"><span class="bold">Duration in ms</span><br>1 second = 1000 ms</small>
            <input type="number" class="form-control" name="sduration" min="0" placeholder="Duration in ms" autocomplete="off" >
        </div>
        <input type="hidden" name="signageid" value="{{ signageid }}">
        <button class="btn btn-primary" type="submit">Add Slide</button><br>
        <button type="button" class="btn btn-link" onclick="goBack()">Go Back</button>
    </form>
{% endblock %}

{% block js %}
    function goBack() {
        window.history.back();
    }
{% endblock %}
