{% extends "manage/layout.html" %}

{% block title %}
    Delete Slide
{% endblock %}

{% block main %}
    <p>Are you sure you want to delete the slide?</p>
    <form action="" method="post">
        <input type="hidden" name="signageid" value="{{ signageid }}">
        <input type="hidden" name="slid" value="{{ slid }}">
        <button class="btn btn-danger" type="submit">Yes, I confirm.</button>
    </form>
    <br>
    <button type="button" class="btn btn-link" onclick="goBack()">Go Back</button>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
{% endblock %}
